.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  position: relative;
}

.traffic-lights {
  display: flex;
  justify-content: center;
  position: absolute;
}

.traffic-lights.horizontal {
  flex-direction: row;
  width: 100%;
  left: 0;
}

.traffic-lights.vertical {
  flex-direction: column;
  height: 100%;
  right: 0;
}

.traffic-lights.horizontal.top {
  top: 0px;
}

.traffic-lights.horizontal.bottom {
  bottom: 0px;
}

.traffic-lights.vertical.left {
  left: 0px;
}

.traffic-lights.vertical.right {
  right: 0px;
}

app-emergency-button {
  position: absolute;
  bottom: 0px;
}
