<main class="main">
  <div class="traffic-lights horizontal top">
    <app-traffic-light position="horizontal"></app-traffic-light>
  </div>
  <div class="traffic-lights vertical left">
    <app-traffic-light position="vertical"></app-traffic-light>
  </div>
  <div class="traffic-lights vertical right">
    <app-traffic-light position="vertical"></app-traffic-light>
  </div>
  <div class="traffic-lights horizontal bottom">
    <app-traffic-light position="horizontal"></app-traffic-light>
  </div>
  <app-emergency-button></app-emergency-button>
</main>

<router-outlet></router-outlet>
