.traffic-light {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #333;
  padding: 10px;
}

.traffic-light.horizontal {
  flex-direction: row;
  width: 130px;
  height: 40px;
}

.traffic-light.vertical {
  flex-direction: column;
  width: 40px;
  height: 130px;
}

.light {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
}

.light.red {
  background-color: red;
}

.light.yellow {
  background-color: yellow;
}

.light.green {
  background-color: green;
}

.light.off {
  background-color: #555;
}

button {
  padding: 5px 5px;
  font-size: 15px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.order {
  display: flex;
  align-items: center;
}
