<div class="order">
  <div
    class="traffic-light"
    [ngClass]="{
      horizontal: position === 'horizontal',
      vertical: position === 'vertical'
    }"
  >
    <div
      class="light"
      [ngClass]="{ red: currentColor === 'red', off: currentColor !== 'red' }"
    ></div>
    <div
      class="light"
      [ngClass]="{
        yellow: currentColor === 'yellow',
        off: currentColor !== 'yellow'
      }"
    ></div>
    <div
      class="light"
      [ngClass]="{
        green: currentColor === 'green',
        off: currentColor !== 'green'
      }"
    ></div>
  </div>
  <button [disabled]="currentColor === 'red'" (click)="onCross()">
    Пресичане
  </button>
</div>
